<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>

    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/hyperscript.org/dist/_hyperscript.min.js}"></script>
    <style type="text/css">
.selected {
    color: red;
}
    </style>
</head>
<body>
<div hx-target="#tab-contents" _="on htmx:afterOnLoad take .selected from .tabs for event.target">
    <a th:hx-get="${'/tab1' + tail}" hx-push-url="?state_0=tab1" class="tabs" th:classappend="${states[0] == 'tab1' OR states[0] == null}? 'selected'">Tab
        1</a>
    <a th:hx-get="${'/tab2' + tail}" hx-push-url="?state_0=tab2" class="tabs" th:classappend="${states[0] == 'tab2'}? 'selected'">Tab 2</a>
</div>
<hr/>
<div id="tab-contents" th:hx-get="${'/' + (states[0]?:'tab1') + tail}" hx-trigger="load"></div>

    <script type="text/javascript">htmx.logAll();</script>
</body>
</html>