<div>
    <table>
        <tbody>
            <tr>
                <td hx-target="#main-content" _="on htmx:afterOnLoad take .selected from .submenus for event.target">
                    <a th:hx-get="${'/tab1/tab1-op1' + tail}" hx-push-url="?state_0=tab1&state_1=tab1-op1" class="submenus" th:classappend="${states[1] == 'tab1-op1' OR states[1] == null}? 'selected'">Op 1</a>
                    <br>
                    <a th:hx-get="${'/tab1/tab1-op2' + tail}" hx-push-url="?state_0=tab1&state_1=tab1-op2" class="submenus" th:classappend="${states[1] == 'tab1-op2'}? 'selected'">Op 2</a>
                </td>
                <td id="main-content" th:hx-get="${'/tab1/' + (states[1]?:'tab1-op1') + tail}" hx-trigger="load"></td>
            </tr>
        </tbody>
    </table>
</div>